@media screen and (max-width:600px) {
  header {
    width: 100%;
    flex-direction: column;
  }

  .banner-menu-ul {
    justify-content: space-evenly;
  }

  .banner {
    width: 335px;
    /* height: 483px; */
  }

  .banner .banner-title {
    margin: 32px 65px 10px;
    font-size: 1.37rem;
    text-align: center;
  }

  .banner .banner-description {
    text-align: center;
    color: #FFF;
    align-items: justify;
    font-size: 0.9rem;
    margin: 0 16px;
  }

  .banner-inquery {
    width: 287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    margin: 32px 24px;
  }

  .banner-input {
    width: 255px;
    margin: 0;
  }

  /* Program-column */
  .tours-program {
    flex-direction: column;
  }
  .program-column {
    width: 90%;
    margin: 20px 20px 0px 20px;
  }
  .program-column-title{
    font-size: 20px;
  }
  .program-details .program-details-list{
    font-size: 14px;
  }
  .tours-program .program-gallary {
    width: 90%;
    margin: 20px;
  }
  /* .tours-program {
    flex-direction: column;
  }

  .program-column {
    width: 100%;
    margin: 20px;
  }

  .tours-program .program-gallary{
    width: 100%;
    margin: 20px; 
  } */
}