 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

 * {
   margin: 0;
   padding: 0;
 }

 body {
   font-family: 'Mulish', sans-serif;
 }

 /* Share Style */
 .button-primary {
   background: #FF5400;
   color: #FFF;
 }

 /* Header Section */
 header {
   max-width: 1200px;
   margin: 50px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .nav {
   display: flex;
   align-items: center;
 }

 .banner-menu ul {
   display: flex;
   gap: 44px;
   list-style: none;
 }

 .nav .nav-title {
   color: #131318;
   font-size: 36px;
   font-weight: 800;
 }

 .nav .nav-icon {
   width: 48px;
   margin-right: 16px;
 }

 .word-tour {
   color: #FF5400;
   font-size: 2rem;
   font-weight: 800;
 }

 .banner-menu ul {
   padding: 10px 0px;
 }

 .banner-menu .banner-menu-home {
   color: #FF5400;
   font-size: 1.2rem;
   font-weight: 700;
 }

 /* Banner background ima */
 .banner {
   margin: 0 auto;
   border-radius: 16px;
   width: 1200px;
   height: 500px;
   background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner.png') no-repeat center center /cover;
   background-repeat: no-repeat;

 }

 .banner-content {
   display: flex;
   flex-direction: column;
   align-items: center;

 }

 .banner .banner-title {
   color: #FFF;
   font-size: 4rem;
   font-weight: 800;
   margin-top: 106px;
   margin-bottom: 24px;
 }

 .banner .banner-description {
   color: #FFF;
   font-size: 1rem;
   text-align: center;
   font-weight: 400;
   margin: 0px 247px 50px;
 }

 .banner .banner-inquery {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
   /* height: 70px; */
   border-radius: 8px;
   background: rgba(255, 255, 255, 0.30);
 }

 .banner-input {
   padding: 15px;
   margin: 16px;
   border-radius: 8px;
   border: none;
   color: #FFF;
   font-size: 1rem;
   font-weight: 700;
 }

 /* Tours-Program css */
 .tours-program {
   max-width: 1200px;
   margin: 100px auto;
   display: flex;
   gap: 5%;
 }

 .program-column {
   display: flex;
   flex-direction: column;
   text-align: justify;
   width: 47.5%;
 }

 .program-column-title {
   color: #131318;
   font-size: 2.5rem;
   font-weight: 800;
   margin: 0;
 }

 .program-details {
   color: rgba(19, 19, 24, 0.70);
   font-size: 1rem;
   font-weight: 400;
   line-height: 26px;
   margin: 24px 0px;
 }

 .program-detais-list {
   color: rgba(19, 19, 24, 0.70);
   font-size: 1rem;
   font-weight: 400;
   line-height: 26px;
   margin-bottom: 16px;
   margin-left: 20px;
 }

 .list-item-parent .last-item {
   margin-bottom: 0px;
 }

 .program-button {
   width: 160px;
   border: none;
   font-size: 20px;
   border-radius: 8px;
   padding: 14px 30px;
 }

 .program-gallary {
   border-radius: 16px;
   width: 47.5%;
 }

 .tours-program .gallary-img {
   width: 100%;
 }

 /* Destination Section */
 .destination {
   width: 1200px;
   margin: 0 auto;
 }

 .destination-title {
   color: #131318;
   text-align: center;
   font-size: 2.5rem;
   font-weight: 800;
   margin-bottom: 0;
 }

 .destination .destination-description {
   width: 600px;
   text-align: center;
   margin: 24px auto 50px;
   color: rgba(19, 19, 24, 0.70);
   font-size: 1rem;
   font-weight: 400;
   line-height: 26px;
 }

 .destination-group-image {
   flex-direction: column;
 }

 .group-one {
   display: flex;
   justify-content: space-between;
   margin-bottom: 24px;
 }

 .group-two {
   display: flex;
   justify-content: space-between;
   margin-bottom: 24px;
 }

 .group-three {
   display: flex;
   justify-content: space-between;
 }

 /* Services Area */
 .services {
   width: 1200px;
   margin: 100px auto;
 }

 .services .services-title {
   color: #131318;
   font-size: 2.5rem;
   text-align: center;
   font-weight: 800;
 }

 .services-details {
   color: rgba(19, 19, 24, 0.70);
   font-size: 1rem;
   font-weight: 400;
   margin: 24px 275px;
   text-align: center;
 }

 .services-group-one {
   display: flex;
   justify-content: space-between;
   gap: 24px;
 }

 .hotel-service {
   width: 573px;
   border-radius: 16px;
   border: 1px solid rgba(251, 181, 99, 0.20);
   background: rgba(251, 181, 99, 0.05);
   padding: 32px;
 }

 .outside-service {
   width: 573px;
   padding: 32px;
   border-radius: 16px;
   border: 1px solid rgba(41, 206, 246, 0.20);
   background: rgba(41, 206, 246, 0.05);
 }

 .hotel-title {
   margin: 32px 0px 16px;
   color: #131318;
   font-size: 1.5rem;
   font-weight: 800;
 }

 .hotel-description {
   color: #5A5A5D;
   font-size: 1rem;
   font-weight: 400;
   margin: 0;
 }

 .best-price {
   width: 550px;
   padding: 32px;
   margin: 24px auto;
   border-radius: 16px;
   border: 1px solid rgba(233, 68, 68, 0.20);
   background: rgba(233, 68, 68, 0.05);
 }

 /* Perfect Place */

 /* Tours-Program css */
 .place-section {
   width: 1200px;
   margin: 100px auto;
   display: flex;
   gap: 48px;
 }

 .place-section .place-column {
   display: flex;
   flex-direction: column;
   text-align: justify;
 }

 .place-column-title {
   color: #131318;
   font-size: 2.5rem;
   font-weight: 800;
   margin: 0;
 }

 .place-details {
   color: rgba(19, 19, 24, 0.70);
   font-size: 1rem;
   font-weight: 400;
   line-height: 26px;
   margin: 24px 0px;
 }

 .program-detais-list {
   color: rgba(19, 19, 24, 0.70);
   font-size: 1rem;
   font-weight: bold;
   margin-bottom: 16px;
   margin-left: 20px;
 }

 .list-item-parent .last-item {
   margin-bottom: 0px;
 }

 .place-button {
   width: 160px;
   border: none;
   font-size: 20px;
   border-radius: 8px;
   padding: 14px 30px;
 }

 .place-gallary {
   background: url('../Images/Group\ 40089.png');
   background-repeat: no-repeat;
   width: 100%;
   border-radius: 16px;
 }

 .place-gallary-title {
   width: 276px;
   color: #FFF;
   font-size: 24px;
   font-weight: 700;
   text-align: center;
   margin: 170px 160px;

 }

 /* NewsLeter Section */

 .newsleter-section {
   width: 1200px;
   margin: 100px auto;
   display: flex;
   gap: 48px;
 }

 .newsleter-section .newsleter-column {
   display: flex;
   flex-direction: column;
   text-align: justify;
   width: 46%;
   padding: 40px;
 }

 .newsleter-column-title {
   color: #131318;
   font-size: 2.5rem;
   font-weight: 800;
   margin: 0;
 }

 .newsleter-details {
   width: 350px;
   color: #5A5A5D;
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 24px;
 }

 .newsleter-gallary {
   background: url('../Images/Rectangle\ 8\ \(1\).png');
   background-repeat: no-repeat;
   width: 680px;
   border-radius: 16px;
 }

 .newsleter-button {
   width: 160px;
   border: none;
   font-size: 20px;
   border-radius: 8px;
   padding: 14px 30px;
 }

 .newsleter-input {
   padding: 10px;
   margin-bottom: 10px;
   width: 300px;
 }